{% extends 'base.html.twig' %}

{% block title %}Gestion de notifications{% endblock %}
{% block headline %}Gestion de notifications{% endblock %}
{% block body %}

    <div class="row">

        <p>{{ message }}</p>
        <br>
        {{ form_start(form, {'attr': {'id': 'form_edit'}}) }}
        {{ form_errors(form) }}

        <table class="table table-responsive">

            <tr class="selectChoix">
                <td height="20" align="left" class="col-md-4">Notifier par </td>
                <td>{{ form_widget(form.notificationType) }}</td>
            </tr>
            <tr class="choix1">
                <td height="20" align="left">Nombre de notifications</td>
                <td>{{ form_widget(form.numberNotifications) }}</td>
            </tr>
            <tr class="choix2">
                <td height="20" align="left">Paramédical</td>
                <td>

                    <form id="form_show" name="form_show" method="POST">

                        <select title="userId"
                                id="userId"
                                name="userId"
                                class="form-control">

                            {% for user in userlist| sortbyfield('username') %}
                                <option id='userId' value='{{ user.getId }}'> {{ user.getUsername }} </option>
                            {% endfor %}
                        </select>
                    </form>
                <td>
                </td>
            </tr>
            <tr class="choix3">
                <td height="20" align="left">Date</td>

                <td>{{ form_widget(form.dateNotifications) }}
                    <div class="hidden">
                        {{ form_widget(form.numberNotifications) }}
                    </div>
                </td>
            </tr>
        </table>
        {{ form_widget(form.Enregistrer) }}
        {{ form_end(form) }}

    </div>

{% endblock %}