
<ul class="nav nav-pills">
    <li><a href="{{ path('addpatient') }}"><b>Ajouter un dossier</b></a></li>
    <li class="dropdown">
        <a class="dropdown" data-toggle="dropdown" href="#"><b>Gestion des dossiers</b>
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('viewpatient') }}">Consulter un dossier</a></li>
            <li><a href="{{ path('changedoc') }}">Changer le médecin soignant</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown" data-toggle="dropdown" href="#"><b>Les archives</b>
            <span class="caret"></span></a>
        <ul class="dropdown-menu">

            <li><a href="{{ path('archivedpatient') }}">Consulter un dossier archivé</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown" data-toggle="dropdown" href="#"><b>Sauvegarde des données</b>
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('createBackup') }}">Réaliser une sauvegarde</a></li>
            <li><a href="{{ path('listBackup') }}">Gérer les sauvegardes</a></li>
            <li><a href="{{ path('uploadBackup') }}">Uploader une sauvegarde</a></li>
            <li><a href="{{ path('configBackup') }}">Configurer la sauvegarde</a></li>
        </ul>
    </li>
</ul>